body {
    margin: 0;
    background-color: #2c2c2c;

    font-family: 'Dosis', sans-serif;
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    height: 100vh;
    background-image: url("../images/landing.jpg");
    background-position: center;
    background-size: cover;
}

header > * {
    background: linear-gradient(to right, #a300ff, #fa29ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    bottom: 0;
    padding: 15px;
    font-size: 15pt;
    background-color: #242424;
    text-align: center;
}

main {
    margin: 20px 25%;
    font-size: 20pt;
}

nav {
    top: 0;
    position: fixed;
    width: 100vw;

    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin: 0;
    height: 70px;

    opacity: 70%;
    font-size: 17pt;
    text-align: center;
}

nav > * {
    display: flex;
    align-items: center;
}

nav > .left {
    margin-left: 22.5%;
}

nav > .right {
    margin-right: 22.5%;
    justify-content: space-around;
    align-items: stretch;
}

nav > * > .item {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

nav > * > .item > * {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

nav > * > .item > * > .icon {
    margin-right: 10px;
}

nav > .right > .item:hover {
    background-color: #5e5e5e;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 28pt;
    color: #f5e4ac;
}